<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-3">

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Productcode</label>

                    <input name="productcode" [(ngModel)]="productcode" type="text" class="form-control">



                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Productname</label>

                    <input name="productname" [(ngModel)]="productname" type="text" class="form-control">



                </div>  
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Manufacture date</label>

                    <input name="mandate" [(ngModel)]="mandate" type="text" class="form-control">



                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Expiry date</label>

                    <input name="expdate" [(ngModel)]="expdate" type="text" class="form-control">



                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Brand</label>

                    <input name="brand" [(ngModel)]="brand" type="text" class="form-control">



                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Price</label>

                    <input name="price" [(ngModel)]="price" type="text" class="form-control">



                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Sellername</label>

                    <input name="sellername" [(ngModel)]="sellername" type="text" class="form-control">



                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">



                    <label for="" class="form-label">Distributorname</label>

                    <input name="distributor" [(ngModel)]="distributor" type="text" class="form-control">



                </div>



                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">



                    <button (click)="readValues()" class="btn btn-success">Add</button>



                </div>

            </div>

        </div>

    </div>

</div>
